.container {
  padding: 10%;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
}

.container > div {
  /* positioning */
  flex-grow: 1;
  overflow: hidden;
  height: 200px;
  margin: 5px;

  /* styling */
  border-radius: 3px;
  box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.15);
}

img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
}